---
import { CollectionEntry, getCollection } from "astro:content"
import MainLayout from "~/layouts/layout.astro"

import "~/styles/mdx.css"

export async function getStaticPaths() {
  const docs = await getCollection("docs")
  return docs.map((entry) => ({
    params: {
      slug: entry.slug
    },
    props: entry
  }))
}
type Props = CollectionEntry<"docs">

const post = Astro.props
const { Content, headings } = await post.render()
---

<MainLayout headings={headings} {...post.data}>
  <div
    class="container flex-1 pt-4 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10"
  >
    <aside>Menü</aside>
    <div>
      <Content />
    </div>
  </div>
</MainLayout>
