---
import { CollectionEntry, getCollection } from "astro:content"
import MainLayout from "~/layouts/layout.astro"

import "~/styles/mdx.css"

export async function getStaticPaths() {
  const docs = await getCollection("docs")
  return docs.map((entry) => ({
    params: {
      slug: entry.slug
    },
    props: entry
  }))
}
type Props = CollectionEntry<"docs">

const post = Astro.props
const { Content, headings } = await post.render()

console.log(post)
---

<MainLayout headings={headings} {...post.data}>
  <div class="space-y-2">
    <h1 class="scroll-m-20 text-4xl font-bold tracking-tight">{post.data.title}</h1>
    <p class="text-lg text-muted-foreground">{post.data.description}</p>
  </div>
  <div
    data-orientation="horizontal"
    role="none"
    class="shrink-0 bg-border h-[1px] w-full my-4 md:my-6"
  >
  </div>
  <Content />
</MainLayout>
