[data-rehype-pretty-code-fragment] {
  @apply relative;
}

[data-rehype-pretty-code-fragment] [data-highlighted-line] {
  @apply bg-white/10;
}

[data-rehype-pretty-code-fragment] [data-line] {
  @apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] [data-line] {
  @apply px-2;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > [data-line]::before {
  @apply text-zinc-50/40 text-xs;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

[data-rehype-pretty-code-title] {
  @apply mt-2 pt-6 px-4 text-sm font-medium;
}

[data-rehype-pretty-code-title] + div > pre {
  @apply mt-2;
}
