---
import MainLayout from "~/layouts/layout.astro"
---

<MainLayout>
  <div class="flex justify-center md:pt-16">
    <img src="screenshot.png" alt="Screenshot of the components" />
  </div>
</MainLayout>
