---
import { docsConfig } from "~/config/docs"
import { cn } from "~/lib/utils"

const pathname = new URL(Astro.request.url).pathname
---

<aside class="w-full hidden md:block">
  {
    docsConfig.sidebarNav.map((category) => (
      <div class="pb-4">
        <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">{category.title}</h4>
        <div class="grid grid-flow-row auto-rows-max text-sm">
          {category?.items?.map((item) => (
            <a
              href={item.href}
              class={cn(
                "group flex w-full items-center rounded-md border border-transparent px-2 py-1 no-underline hover:underline",
                pathname === item.href ? "font-medium text-foreground" : "text-muted-foreground"
              )}
            >
              {item.title}
            </a>
          ))}
        </div>
      </div>
    ))
  }
</aside>
