---
import Navbar from "~/components/navbar.astro"
import Sidebar from "~/components/sidebar.astro"

import "@fontsource/inter/latin.css"
import "~/styles/global.css"
import SiteHeader from "~/components/site-header.astro"

export interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

  </head>
  <body>
    <Navbar />
    <div
      class="container flex-1 py-6 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10"
    >
      <Sidebar />
      <div>
        <slot />
      </div>
    </div>
  </body>
</html>
